$rodo-red: #c04355;
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1075px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

.contact {
  display: flex;
  padding: 2rem;
  .col1 {
    padding: 5rem;
    width: 100%;
    min-height: 40rem;
    background-image: url("../../assets/thank-you-bg.png");
    box-shadow: inset 0 0 0 1000px rgba(195, 68, 86, 0.8);
    h2 {
      font-family: "Caveat Brush", cursive;
      font-size: 3rem;
      color: white;
      border-bottom: 1px solid white;
      padding-bottom: 2rem;
      text-transform: uppercase;
      @include sm {
        font-size: 1.5rem;
      }
    }
    p {
      color: white;
      font-size: 1.4rem;
      font-weight: 400;
      .letter {
        display: block;
      }
      @include sm {
        font-size: 1rem;
      }
    }
    @include sm {
      padding: 1rem;
    }
  }
  .col2 {
    width: 100%;
    padding: 5rem;
    h3 {
      font-family: "Caveat Brush", cursive;
      color: $rodo-red;
      font-size: 3rem;
      text-transform: uppercase;
      @include sm {
        font-size: 1.2rem;
      }
    }
    @include sm {
      padding: 0.9rem;
      input {
        width: 90%;
      }
      textarea {
        width: 90%;
      }
    }
  }
  @include sm {
    flex-wrap: wrap;
    padding: 2px;
  }
}
