$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1075px;

// Large tablets and desktops
$screen-xl-min: 1200px;
$white: #ffff;
$rodo-red: #c04355;

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

.intro {
  display: flex;
  justify-content: center;

  .imageContainer {
    img {
      max-width: 20rem;
      height: auto;
      @include sm {
        max-width: 8rem;
      }
    }
    .text {
      font-size: 10px;
      width: 150px;
      margin: 2.5em -5em;
      overflow: hidden;
      text-align: center;
      font-weight: bold;
    }
    .caption {
      color: $rodo-red;
      position: absolute;
      top: 65%;
      transform: rotate(-90deg);
      transform-origin: left top 0;

      &::before,
      &::after {
        content: "";
        display: inline-block;
        width: 50%;
        margin: 0 0.5em 0 -55%;
        vertical-align: middle;
        border-bottom: 2px solid;
      }
      &::after {
        margin: 0 -55% 0 0.5em;
      }
    }
  }
  .description {
    padding: 0 2rem;
    max-width: 28rem;
    .line {
      display: block;
      color: $white;
      font-size: 1.1rem;
      line-height: 1.5;
    }
    .line_1 {
      font-size: 2.2rem;
      @include sm {
        font-size: 1rem;
      }
    }
    .line_2 {
      font-size: 4.5rem;
      @include md {
        font-size: 2.5rem;
      }
      @include sm {
        font-size: 1.5rem;
      }
    }
    .line_3 {
      font-size: 5rem;
      font-family: "Caveat Brush", cursive;
      text-transform: uppercase;
      @include md {
        font-size: 3.5rem;
      }
      @include sm {
        font-size: 1.5rem;
      }
    }
  }
}
.bouncer {
  text-align: center;
  color: $rodo-red;
  margin: 3em 0px;
  animation: bounce 1s infinite;

  @keyframes bounce {
    0% {
      transform: translate(0px, 0px) rotateZ(0.001deg);
      animation-timing-function: ease-in-out;
    }
    50% {
      transform: translate(0px, 12px) rotateZ(0.001deg);
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translate(0px, 0px) rotateZ(0.001deg);
      animation-timing-function: ease-in-out;
    }
  }
}
