$dark-red: #4b0e20;
$light-red: #8e2036;

$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1075px;

// Large tablets and desktops
$screen-xl-min: 1200px;
$white: #ffff;
$rodo-red: #c04355;

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
.section-1 {
  background: linear-gradient(180deg, $dark-red, $light-red, $dark-red);
  height: 70rem;
  @include sm {
    height: 30rem;
  }
}
