body {
  margin: 0;
  font-family: "Hurme", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  
}
/* @media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
