$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1075px;

// Large tablets and desktops
$screen-xl-min: 1200px;
$rodo-red: #c04355;

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

.benefits {
  display: flex;
  justify-content: center;
  padding: 2em;
  background: #f6f6f6;
  .description {
    position: relative;
    max-width: 28rem;
    .text {
      font-size: 10px;
      width: 150px;
      margin: 2.5em -5em;
      overflow: hidden;
      text-align: center;
      font-weight: bold;
    }
    .caption {
      color: $rodo-red;
      position: absolute;
      top: 65%;
      transform: rotate(-90deg);
      transform-origin: left top 0;

      &::before,
      &::after {
        content: "";
        display: inline-block;
        width: 50%;
        margin: 0 0.5em 0 -55%;
        vertical-align: middle;
        border-bottom: 2px solid;
      }
      &::after {
        margin: 0 -55% 0 0.5em;
      }
    }
    .heading {
      font-family: "Caveat Brush", cursive;
      font-size: 3rem;
      text-transform: uppercase;
      color: $rodo-red;
      padding: 1rem 3rem;
    }
    .benefittext {
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
  .imageContainer {
    img {
      max-width: 20rem;
      height: auto;
      @include sm {
        max-width: 12rem;
      }
    }
  }
}
