$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1075px;

// Large tablets and desktops
$screen-xl-min: 1200px;
$white: #ffff;
$rodo-red: #c04355;

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

.howto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  padding: 2rem;
  h2 {
    font-family: "Caveat Brush", cursive;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: $rodo-red;
    margin: 0.7rem 0rem;
    @include sm {
      font-size: 2rem;
    }
  }
  .cols {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .col1 {
      width: 350px;
      color: #000;
      text-align: center;
      h3 {
        text-transform: uppercase;
        font-family: "Caveat Brush", cursive;
      }
    }
    .col2 {
      width: 350px;
      color: $rodo-red;
      text-align: center;
      p {
        color: $rodo-red;
      }
      h3 {
        text-transform: uppercase;
        font-family: "Caveat Brush", cursive;
      }
    }
    .col3 {
      width: 350px;
      color: red;
      text-align: center;
      h3 {
        text-transform: uppercase;
        font-family: "Caveat Brush", cursive;
      }
    }
  }
}
